@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Happy+Monkey&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+3D&family=Shadows+Into+Light&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Yesteryear&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  color: #141414;
  font-family: "Source Sans 3", sans-serif;
}

/* 
    =======================
    Home Webpage Layout
    =======================
*/

/* 
    =======================
    Header Section Layout
    =======================
*/

header {
  grid-column: 1/-1;
}

ul,
.navbar {
  display: flex;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: #ffffff;
}

ul {
  gap: 4em;
}

.nav-item {
  text-transform: uppercase;
  list-style: none;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hero {
  background-image: url("./images/hero-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero div {
  width: 80%;

  background-color: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em;
  border-radius: 0.2em;
}

/* 
    =======================
    Main Section Layout
    =======================
*/
body {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-rows: 1em 1fr 1em;
}
main {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  gap: 1em 0;
}

@media (min-width: 500px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media (min-width: 870px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

/* 
    =======================
    Card
    =======================
*/

img {
  width: 100%;
  height: 232px;
  border-radius: 0.2em;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.56em;
  height: 100%;
}

/* 
    =======================
    Typograhy
    =======================
*/

.brand {
  font-size: 0.8125rem;
}

.nav-item a {
  font-size: 0.75rem;
}

h1 {
  font-size: 2rem;
  line-height: 108%;
  letter-spacing: -3%;
}

h3 {
  font-size: 1.5rem;
  line-height: 108%;
  letter-spacing: 0%;
}

h5 {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

p {
  color: #505050;
  font-style: Regular;
  line-height: 125%;
  letter-spacing: 0%;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 500px) {
  .brand {
    font-size: 1.25rem;
  }

  .nav-item a {
    font-size: 1rem;
  }
}
